; {{ ansible_managed }}

[PHP]
short_open_tag = {{ php_short_open_tag }}
output_buffering = {{ php_output_buffering }}
disable_functions = {{ php_disable_functions }}
expose_php = Off
max_execution_time = {{ php_max_execution_time }}
max_input_time = {{ php_max_input_time }}
max_input_vars = {{ php_max_input_vars }}
memory_limit = {{ php_memory_limit }}
error_reporting = {{ php_error_reporting }}
display_errors = {{ php_display_errors }}
display_startup_errors = {{ php_display_startup_errors }}
log_errors = {{ php_log_errors }}
log_errors_max_len = 1024
error_log = {{ php_error_log }}
track_errors = {{ php_track_errors }}
variables_order = "GPCS"
request_order = "GP"
register_argc_argv = Off
post_max_size = {{ php_post_max_size }}
enable_dl = Off
upload_max_filesize = {{ php_upload_max_filesize }}
session.cookie_httponly = {{ php_session_cookie_httponly }}
session.cookie_secure = {{ php_session_cookie_secure }}
date.timezone = {{ php_timezone }}
{% if php_sendmail_path is defined %}
sendmail_path = {{ php_sendmail_path }}
{% endif %}

[mysqlnd]
mysqlnd.collect_memory_statistics = {{ php_mysqlnd_collect_memory_statistics }}

[opcache]
opcache.enable = {{ php_opcache_enable }}
opcache.enable_cli = {{ php_opcache_enable_cli }}
opcache.memory_consumption = {{ php_opcache_memory_consumption }}
opcache.interned_strings_buffer = {{ php_opcache_interned_strings_buffer }}
opcache.max_accelerated_files = {{ php_opcache_max_accelerated_files }}
opcache.revalidate_freq = {{ php_opcache_revalidate_freq }}
opcache.fast_shutdown = {{ php_opcache_fast_shutdown }}
